<b><%= @user.full_name %>,</b>
<p>Thank you for Subscribing!</p>
You have subscribed to follwing Categories :
<ol>
<% Subscription.order(:category_id).where(:user_id => @user.id).select(:category_id).group(:category_id).each do |c| %>
  <li><%= c.category.name %></li>
<% end %>
</ol>
<b><%= link_to 'Unsubscribe', edit_user_registration_url %></b>
